body {
  font-family: 'bulletin-typewriter-mn', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  background: linear-gradient(to bottom, #f4f4f4 0%, #97aed0 100%);
  color: #333;
  opacity: 60%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(138, 220, 255, 0.649) 60%);
  pointer-events: none;
  z-index: 1;
}
.container {
  background: rgba(0, 0, 0, 0.949);
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}
h1 {
  font-size: 2em;
  font-family: 'patriot';
  color: rgb(255, 255, 255); 
  text-shadow: rgba(138, 220, 255, 0.649);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
  stroke: maroon;
  stroke-width: 2%;
}

label {
  display: block; /* or inline-block */
  font-family: 'voguing', 'bulletin-typewriter-man';
  color: snow;
  text-align: center;
  text-justify: condensed;
  text-shadow:rgba(138, 220, 255, 0.649);
  margin-bottom: 5px; /* Optional: Add some space between the label and the form field */
}

form {
  margin: 20px 0;
}
input, select {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  color: maroon;
  background-color: whitesmoke;
  max-width: 400px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: #02020200;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #8406e5cc;
}
#result {
  margin-top: 20px;
  font-size: 1.2em;
}
