body {
  font-family: 'bulletin-typewriter-mn', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  background: linear-gradient(to bottom, #f4f4f4 0%, #e8e8e8 100%);
  color: #333;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(79, 20, 20, 0.649) 60%);
  pointer-events: none;
  z-index: 1;
}
.container {
  background: rgba(119, 55, 55, 0.566);
  padding: 20px;
  border-radius: 10px;
}
h1 {
  font-size: 2em;
}
form {
  margin: 20px 0;
}
input, select {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: #ad0d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #950303cc;
}
#result {
  margin-top: 20px;
  font-size: 1.2em;
}
